<div nz-row class="bg-emerald-600">
  <div class="my-2 col-auto">
    <div class="" style="min-height: 200px;font-size: 45px; margin-top: 20px;">

      <div nz-row>
        <div nz-col nzFlex="1" style="padding-left: 100px;"> <img style="max-width: 200px;"
            [src]="'assets/images/logo.png'"></div>
      </div>

    </div>
  </div>
  <div class="text-center col-auto" style="min-width: 75%; margin-top: 60px; color: white;">
    <p style="font-size: 60px;"><b>โรงพยาบาลตระการพืชผล</b></p>
    <p style="font-size: 45px;"><b>ข้อมูลผู้รับบริการห้องอุบัติเหตุ - ฉุกเฉิน วันที่ {{date}} เวลา {{time}} น.</b></p>
  </div>
</div>

<!-- ส่วนที่2-->

<div nz-row>
  <div nz-col nzSpan="12" class="my-4">
    <div class="mr-2 " style="min-height: 150px;font-size: 45px; background-color: #a8d1e7;">

      <div nz-row>
        <div nz-col nzFlex="1" style="padding-left: 50px;"> <img style="max-width: 200px;"
            [src]="'assets/images/hospital.png'"></div>
        <div nz-col nzFlex="4" class="ml-10"> <b>แผนกผู้ป่วยนอก</b>
          <hr class="solid" style="border: 2px solid white;">

          <table>
            <tr *ngFor="let i of opdvisittotal">
              <td>ทั้งหมด</td>
              <td>&nbsp;{{i.total}}&nbsp;คน</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div nz-col nzSpan="12" class="my-4">
    <div class="ml-2 " style="min-height: 200px;font-size: 45px; background-color: #ffbfc5;">

      <div nz-row>
        <div nz-col nzFlex="1" style="padding-left: 50px;"> <img style="max-width: 200px;"
            [src]="'assets/images/Hospital-Patient.png'"></div>
        <div nz-col nzFlex="4" class="ml-10"><b>แผนกผู้ป่วยใน</b>
          <hr class="solid" style="border: 2px solid white;">

          <table>
            <tr *ngFor="let i of ipdvisit">
              <td>ทั้งหมด</td>
              <td>&nbsp;{{i.total}}&nbsp;คน</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- ส่วนที่3-->

<div nz-row>
  <div nz-col nzSpan="8">

    <div style="min-height: 250px;font-size: 45px; background-color: #e8cff8;">
      <div nz-row>
        <div nz-col nzFlex="1"> <img style="max-width: 200px;" [src]="'assets/images/ambulance1.png'"></div>
        <div nz-col nzFlex="4" class="ml-10"><b>แผนกฉุกเฉิน</b>
          <hr class="solid" style="border: 2px solid white;">
          <table>
            <tr *ngFor="let i of ertotal">
              <td>ทั้งหมด</td>
              <td>&nbsp;{{i.total}}&nbsp;คน</td>
            </tr>
            <tr *ngFor="let i of RST0ER">
              <td>รอรับบริการ</td>
              <td>&nbsp;{{i.total}}&nbsp;คน</td>
            </tr>
            <tr *ngFor="let i of RST1ER">
              <td>รับบริการแล้ว</td>
              <td>&nbsp;{{i.total}}&nbsp;คน</td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>
  <div nz-col nzSpan="8" class="">
    <div style="min-height: 250px;font-size: 45px; background-color: #c0e4f6;">

      <div nz-row>
        <div nz-col nzFlex="1"> <img style="max-width: 200px;" [src]="'assets/images/denture1.png'"></div>
        <div nz-col nzFlex="4" class="ml-10"> <b>แผนกทันตกรรม</b>
          <hr class="solid" style="border: 2px solid white;">
          <table>
            <tr *ngFor="let i of denttotal">
              <td>ทั้งหมด</td>
              <td>&nbsp;{{i.total}}&nbsp;คน</td>
            </tr>
            <tr *ngFor="let i of RST0DENT">
              <td>รอรับบริการ</td>
              <td>&nbsp;{{i.total}}&nbsp;คน</td>
            </tr>
            <tr *ngFor="let i of RST1DENT">
              <td>รับบริการแล้ว</td>
              <td>&nbsp;{{i.total}}&nbsp;คน</td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>
  <div nz-col nzSpan="8">
    <div style="min-height: 250px;font-size: 45px; background-color: #d0f4de;">

      <div nz-row>
        <div nz-col nzFlex="1" style="padding-left: 25px;"> <img style="max-width: 200px;"
            [src]="'assets/images/date.png'"></div>
        <div nz-col nzFlex="4" class="ml-10"> <b>ผู้ป่วยนัดมาวันนี้</b>
          <hr class="solid" style="border: 2px solid white;">
          <table>
            <tr *ngFor="let i of ptappointAll">
              <td>ทั้งหมด</td>
              <td>&nbsp;{{i.total}}&nbsp;คน</td>
            </tr>
            <tr *ngFor="let i of ptappointRegister">
              <td>มาตามนัด</td>
              <td>&nbsp;{{i.total}}&nbsp;คน</td>
            </tr>
            <tr>
              <td>ขาดนัด</td>
              <td>&nbsp;{{ptappointMissRegister}}&nbsp;คน</td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- ส่วนที่4-->
<div nz-row>
  <div nz-col nzSpan="8" class="my-4">
    <div class="mr-3" style="font-size:25px; background-color:#d0f4de">

      <div nz-row>
        <div nz-col nzFlex="1" style="padding-left: 50px;"> <img style="max-width: 200px;"
            [src]="'assets/images/patient.png'"></div>
        <div nz-col nzFlex="4" class="ml-5"> <b>จุดซักประวัติ</b>
          <hr class="solid" style="border: 2px solid white;">
          <table>
            <tr *ngFor="let i of visitresultScreen">
              <td>รอรับบริการ</td>
              <td>&nbsp;{{i.total}}&nbsp;คน</td>
            </tr>
            <tr *ngFor="let i of visitresultSendDoctor">
              <td>รับบริการแล้ว</td>
              <td>&nbsp;{{i.total}}&nbsp;คน</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div nz-col nzSpan="8" class="my-4">
    <div class="mr-3" style="font-size: 25px; background-color:#ffbfc5">

      <div nz-row class="pb-4">
        <div nz-col nzFlex="1" style="padding-left: 50px;"> <img style="max-width: 200px;"
            [src]="'assets/images/doct.png'"></div>
        <div nz-col nzFlex="4" class="ml-5"> <b>ห้องตรวจโรค</b>
          <hr class="solid" style="border: 2px solid white;">
          <table>
            <tr *ngFor="let i of visitWaitDoctor">
              <td>รอรับบริการ</td>
              <td>&nbsp;{{i.total}}&nbsp;คน</td>
            </tr>
            <tr *ngFor="let i of visitresultSuccess">
              <td>รับบริการแล้ว</td>
              <td>&nbsp;{{i.total}}&nbsp;คน</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div nz-col nzSpan="8" class="my-4">
    <div style="font-size: 25px; background-color:#c0e4f6">

      <div nz-row>
        <div nz-col nzFlex="1" style="padding-left: 50px;"> <img style="max-width: 200px;"
            [src]="'assets/images/drug.png'"></div>
        <div nz-col nzFlex="4" class="ml-5"> <b>ห้องจ่ายยา</b>
          <hr class="solid" style="border: 2px solid white;">
          <table>
            <tr *ngFor="let i of visitDrugWait">
              <td>รอรับบริการ</td>
              <td>&nbsp;{{i.total}}&nbsp;คน</td>
            </tr>
            <tr *ngFor="let i of visitDrugSuccess">
              <td>รับบริการแล้ว</td>
              <td>&nbsp;{{i.total}}&nbsp;คน</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- ส่วนที่5-->


  <div nz-col nzSpan="24" class="my-2">
    <div class="text-center" style="min-height: 50px;font-size: 45px; background-color: #ffbfc5;">
      <b>อุบัติเหตุฉุกเฉิน โทร::1669 ขออนุญาตเรียกผู้ป่วยตามระดับความเร่งด่วนก่อน </b>
    </div>
  </div>
